# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# IDE/editor files
.vscode/
.idea/

# Build/package files
build/
dist/
*.egg-info/

# OS files
.DS_Store
